body {
    font-family: 'Segoe UI';
    margin: 0;
    background: linear-gradient(to right, #f8f9fa, #e0e0e0);
}

/* Navbar */
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #111;
    color: white;
    padding: 15px;
}

.nav a {
    color: white;
    margin: 10px;
    text-decoration: none;
}

/* Hero */
.hero {
    text-align: center;
    padding: 50px;
    background: linear-gradient(to right, #ff9800, #ff5722);
    color: white;
}

/* Cards */
.card {
    background: white;
    margin: 30px auto;
    padding: 20px;
    width: 80%;
    border-radius: 10px;
}

/* Table */
table {
    width: 100%;
    border-collapse: collapse;
}

th {
    background: #ff9800;
    color: white;
}

td, th {
    padding: 10px;
    border: 1px solid #ddd;
}

.details {
    display: none;
    background: #f1f1f1;
}

/* Buttons */
.btn {
    background: #ff5722;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

/* Images */
.img {
    width: 60px;
    height: 60px;
    border-radius: 8px;
}